<a href="https://colab.research.google.com/github/Janhvi-Pandya/CSC370_Project/blob/main/Janhvi_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
!git clone https://github.com/Janhvi-Pandya/CSC370_Project.git
%cd CSC370_Project

Cloning into 'CSC370_Project'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 14 (delta 1), reused 10 (delta 0), pack-reused 0
Receiving objects: 100% (14/14), 19.11 KiB | 592.00 KiB/s, done.
Resolving deltas: 100% (1/1), done.
/content/CSC370_Project/CSC370_Project

#Initialization database with root user

In [13]:
# Install MySQL server and connector
!apt-get update
!apt-get install -y mysql-server
!pip install mysql-connector-python

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.37-0ubuntu0.22.04.3).
0 upgraded, 0 newly installed, 0 to remove and 47 not upgraded.
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (9.0.0)

In [14]:
# Start MySQL server
!/etc/init.d/mysql start

# Secure MySQL installation and create an admin user
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';"
!mysql -u root -proot  -e "CREATE USER 'admin_user'@'localhost' IDENTIFIED BY 'admin_password';"
!mysql -u root -proot  -e "GRANT ALL PRIVILEGES ON *.* TO 'admin_user'@'localhost' WITH GRANT OPTION;"
!mysql -u root -proot  -e "DELETE FROM mysql.user WHERE User='';"
!mysql -u root -proot  -e "DROP DATABASE IF EXISTS test;"
!mysql -u root -proot  -e "DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';"
!mysql -u root -proot  -e "FLUSH PRIVILEGES;"

# Verify the admin user creation
!mysql -u root -proot -e "SELECT user, host FROM mysql.user;"

 * Starting MySQL database server mysqld
   ...done.
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)
mysql: [Warning] Using a password on the command line interface can be insecure.
ERROR 1396 (HY000) at line 1: Operation CREATE USER failed for 'admin_user'@'localhost'
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
mysql: [Warning] Using a password on the command line interface can be insecure.
+------------------+-----------+
| user             | host      |
+------------------+-----------+
| admin_user       | localhost |
| debian-sys-maint | localhost |
| mysql.infoschema | localhost |
| mysql.session    | localhost |
| mysql.sys        | localhost |
| root             | localhost |
+------------------+-----------+

##Change setup.sql to MySQL syntax

In [15]:
%%writefile setup_mysql.sql
-- Create Users table
CREATE TABLE Users (
    UserID INTEGER PRIMARY KEY AUTO_INCREMENT,
    Name VARCHAR(255) NOT NULL,
    Email VARCHAR(255) NOT NULL UNIQUE,
    Password VARCHAR(255) NOT NULL,
    Bio TEXT,
    ProfilePic VARCHAR(255)
);

-- Create Projects table
CREATE TABLE Projects (
    ProjectID INTEGER PRIMARY KEY AUTO_INCREMENT,
    UserID INTEGER,
    Title VARCHAR(255) NOT NULL,
    Description TEXT NOT NULL,
    Category VARCHAR(255),
    Tags VARCHAR(255),
    DateCreated DATETIME DEFAULT CURRENT_TIMESTAMP,
    LastUpdated DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

-- Create Connections table
CREATE TABLE Connections (
    ConnectionID INTEGER PRIMARY KEY AUTO_INCREMENT,
    UserID1 INTEGER,
    UserID2 INTEGER,
    Status VARCHAR(255),
    DateConnected DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (UserID1) REFERENCES Users(UserID),
    FOREIGN KEY (UserID2) REFERENCES Users(UserID)
);

-- Create Comments table
CREATE TABLE Comments (
    CommentID INTEGER PRIMARY KEY AUTO_INCREMENT,
    ProjectID INTEGER,
    UserID INTEGER,
    CommentText TEXT NOT NULL,
    DatePosted DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (ProjectID) REFERENCES Projects(ProjectID),
    FOREIGN KEY (UserID) REFERENCES Users(UserID)
);

-- Create Messages table
CREATE TABLE Messages (
    MessageID INTEGER PRIMARY KEY AUTO_INCREMENT,
    SenderID INTEGER,
    ReceiverID INTEGER,
    MessageText TEXT NOT NULL,
    DateSent DATETIME DEFAULT CURRENT_TIMESTAMP,
    IsRead BOOLEAN DEFAULT 0,
    FOREIGN KEY (SenderID) REFERENCES Users(UserID),
    FOREIGN KEY (ReceiverID) REFERENCES Users(UserID)
);

-- Insert sample users
INSERT INTO Users (Name, Email, Password, Bio, ProfilePic) VALUES
('Alice Johnson', 'alice@example.com', 'password123', 'AI enthusiast', 'alice.jpg'),
('Bob Smith', 'bob@example.com', 'password456', 'Architecture student', 'bob.jpg'),
('Charlie Davis', 'charlie@example.com', 'password789', 'Data Scientist', 'charlie.jpg'),
('David Brown', 'david@example.com', 'password012', 'Machine Learning expert', 'david.jpg'),
('Eva Green', 'eva@example.com', 'password345', 'Renewable energy advocate', 'eva.jpg'),
('Frank White', 'frank@example.com', 'password678', 'Blockchain enthusiast', 'frank.jpg'),
('Grace Lee', 'grace@example.com', 'password901', 'Healthcare technologist', 'grace.jpg'),
('Hannah Miller', 'hannah@example.com', 'password234', 'Cybersecurity specialist', 'hannah.jpg'),
('Ian Harris', 'ian@example.com', 'password567', 'IoT developer', 'ian.jpg'),
('Jack Wilson', 'jack@example.com', 'password890', 'Robotics engineer', 'jack.jpg'),
('Kathy Martinez', 'kathy@example.com', 'password321', 'Quantum computing researcher', 'kathy.jpg'),
('Leo Adams', 'leo@example.com', 'password654', 'Augmented Reality designer', 'leo.jpg'),
('Mia Scott', 'mia@example.com', 'password987', 'Virtual Reality developer', 'mia.jpg'),
('Nathan Clark', 'nathan@example.com', 'password210', 'Cloud computing expert', 'nathan.jpg'),
('Olivia Robinson', 'olivia@example.com', 'password543', 'Big Data analyst', 'olivia.jpg'),
('Peter Lewis', 'peter@example.com', 'password876', 'Software engineer', 'peter.jpg'),
('Quinn Walker', 'quinn@example.com', 'password109', 'Data scientist', 'quinn.jpg'),
('Rachel Young', 'rachel@example.com', 'password432', 'AI researcher', 'rachel.jpg'),
('Sam King', 'sam@example.com', 'password765', 'Full-stack developer', 'sam.jpg'),
('Tina Baker', 'tina@example.com', 'password098', 'DevOps engineer', 'tina.jpg');

-- Insert sample projects
INSERT INTO Projects (UserID, Title, Description, Category, Tags) VALUES
(1, 'AI Chatbot', 'An AI chatbot project using Python.', 'Computer Science', 'AI, Chatbot, Python'),
(2, 'Sustainable Architecture', 'A project on eco-friendly building designs.', 'Architecture', 'Sustainability, Architecture, Eco-friendly'),
(3, 'Machine Learning Model', 'A project on building a machine learning model.', 'Data Science', 'Machine Learning, Python, Data Science'),
(4, 'Deep Learning for Image Recognition', 'Using deep learning techniques to recognize images.', 'Artificial Intelligence', 'Deep Learning, Image Recognition, AI'),
(5, 'Solar Energy Harvesting', 'Designing efficient solar energy systems.', 'Renewable Energy', 'Solar Energy, Renewable, Sustainability'),
(6, 'Blockchain-Based Voting System', 'A secure voting system using blockchain.', 'Blockchain', 'Blockchain, Voting, Security'),
(7, 'AI in Healthcare', 'Using AI to improve healthcare outcomes.', 'Healthcare', 'AI, Healthcare, Technology'),
(8, 'Cybersecurity Threat Detection', 'Detecting threats using advanced cybersecurity techniques.', 'Cybersecurity', 'Cybersecurity, Threat Detection, Security'),
(9, 'Smart Home IoT System', 'Developing an IoT system for smart homes.', 'Internet of Things', 'IoT, Smart Home, Automation'),
(10, 'Autonomous Robotics', 'Creating autonomous robots for various applications.', 'Robotics', 'Autonomous, Robotics, Engineering'),
(11, 'Quantum Computing Algorithms', 'Exploring algorithms for quantum computers.', 'Quantum Computing', 'Quantum Computing, Algorithms, Research'),
(12, 'AR for Education', 'Using Augmented Reality for educational purposes.', 'Augmented Reality', 'AR, Education, Technology'),
(13, 'VR Training Simulations', 'Creating VR simulations for training.', 'Virtual Reality', 'VR, Training, Simulation'),
(14, 'Cloud-Based Data Storage', 'Designing a secure cloud-based data storage system.', 'Cloud Computing', 'Cloud, Data Storage, Security'),
(15, 'Big Data Analytics', 'Analyzing big data to extract valuable insights.', 'Data Science', 'Big Data, Analytics, Data Science'),
(16, 'Web Application Development', 'Developing a full-stack web application.', 'Software Development', 'Web Development, Full-Stack, Application'),
(17, 'Data Visualization Tools', 'Creating tools for effective data visualization.', 'Data Science', 'Data Visualization, Tools, Data Science'),
(18, 'AI Research on Natural Language Processing', 'Research on NLP techniques.', 'Artificial Intelligence', 'AI, NLP, Research'),
(19, 'DevOps Automation', 'Automating DevOps processes.', 'DevOps', 'DevOps, Automation, CI/CD'),
(20, 'Mobile App Development', 'Developing a mobile application for fitness tracking.', 'Mobile Development', 'Mobile, App, Fitness');

-- Insert sample connections
INSERT INTO Connections (UserID1, UserID2, Status) VALUES
(1, 2, 'Pending'), (2, 3, 'Accepted'), (3, 4, 'Pending'), (4, 5, 'Accepted'),
(5, 6, 'Pending'), (6, 7, 'Accepted'), (7, 8, 'Pending'), (8, 9, 'Accepted'),
(9, 10, 'Pending'), (10, 11, 'Accepted'), (11, 12, 'Pending'), (12, 13, 'Accepted'),
(13, 14, 'Pending'), (14, 15, 'Accepted'), (15, 16, 'Pending'), (16, 17, 'Accepted'),
(17, 18, 'Pending'), (18, 19, 'Accepted'), (19, 20, 'Pending'), (20, 1, 'Accepted');

-- Insert sample comments
INSERT INTO Comments (ProjectID, UserID, CommentText) VALUES
(1, 2, 'Great project! Very inspiring.'), (2, 3, 'I love the idea of sustainability.'),
(3, 1, 'Impressive work on machine learning.'), (4, 5, 'Fantastic use of deep learning.'),
(5, 6, 'Innovative approach to solar energy.'), (6, 7, 'Blockchain can really secure voting.'),
(7, 8, 'AI in healthcare is the future.'), (8, 9, 'Important work on threat detection.'),
(9, 10, 'Smart homes are the way forward.'), (10, 11, 'Autonomous robots are amazing.'),
(11, 12, 'Quantum computing is so intriguing.'), (12, 13, 'AR can revolutionize education.'),
(13, 14, 'VR training is very effective.'), (14, 15, 'Cloud storage is the future.'),
(15, 16, 'Big data analytics are powerful.'), (16, 17, 'Great full-stack application.'),
(17, 18, 'Very useful data visualization tools.'), (18, 19, 'NLP research is fascinating.'),
(19, 20, 'Automation in DevOps is crucial.'), (20, 1, 'Nice mobile fitness app.');

-- Insert sample messages
INSERT INTO Messages (SenderID, ReceiverID, MessageText) VALUES
(1, 2, 'Hi Bob, I loved your project on sustainable architecture!'),
(2, 3, 'Hey Charlie, can we collaborate on a data science project?'),
(3, 4, 'David, your deep learning project is fantastic!'),
(4, 5, 'Eva, your solar energy project is very innovative.'),
(5, 6, 'Frank, blockchain-based voting is a great idea.'),
(6, 7, 'Grace, I am impressed by your AI in healthcare project.'),
(7, 8, 'Hannah, your cybersecurity project is very important.'),
(8, 9, 'Ian, smart home IoT systems are the future.'),
(9, 10, 'Jack, your autonomous robotics project is amazing.'),
(10, 11, 'Kathy, quantum computing algorithms are fascinating.'),
(11, 12, 'Leo, AR for education can revolutionize learning.'),
(12, 13, 'Mia, VR training simulations are very effective.'),
(13, 14, 'Nathan, your cloud-based data storage system is very secure.'),
(14, 15, 'Olivia, big data analytics are very powerful.'),
(15, 16, 'Peter, great job on the web application development.'),
(16, 17, 'Quinn, your data visualization tools are very useful.'),
(17, 18, 'Rachel, your NLP research is very interesting.'),
(18, 19, 'Sam, automation in DevOps is crucial.'),
(19, 20, 'Tina, great work on the mobile app development.'),
(20, 1, 'Alice, your AI chatbot project is fascinating!');

Writing setup_mysql.sql

In [16]:
# Create the educonnect_demo database
!mysql -u root -proot -e "CREATE DATABASE educonnect_demo;"

mysql: [Warning] Using a password on the command line interface can be insecure.

In [17]:
# Execute the setup_mysql.sql file
!mysql -u admin_user -padmin_password educonnect_demo < setup_mysql.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

#Main code

In [18]:
import mysql.connector
from mysql.connector import errorcode

def get_db_connection(user="root", password="root"):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user=user,
            password=password,
            database="educonnect_demo"
        )
        return conn
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
        return None

def execute_query(query, params=(), fetch=False, user="root", password="root"):
    conn = get_db_connection(user=user, password=password)
    if conn:
        try:
            cursor = conn.cursor()
            print(f"Executing SQL: {query}")
            cursor.execute(query, params)
            if fetch:
                results = cursor.fetchall()
            else:
                results = None
            conn.commit()
            cursor.close()
            conn.close()
            return results
        except mysql.connector.Error as err:
            print(err)
            return None
    else:
        print("Failed to establish a database connection.")
        return None


def grouping_and_aggregation():
    query = """
    SELECT UserID, COUNT(ProjectID) AS ProjectCount
    FROM Projects
    GROUP BY UserID;
    """
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def sql_dml_and_fks():
    query = """
    INSERT INTO Users (Name, Email, Password, Bio, ProfilePic)
    VALUES ('John Doe', 'john.doe.unique2@example.com', 'securepassword', 'Tech enthusiast', 'john.jpg');
    """
    execute_query(query)
    print("User John Doe inserted successfully.")

def sub_queries():
    query = """
    SELECT Name, Email
    FROM Users
    WHERE UserID IN (
        SELECT UserID
        FROM Projects
        GROUP BY UserID
        HAVING COUNT(ProjectID) > 1
    );
    """
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def using_indexes():
    query = "CREATE INDEX idx_users_email ON Users (Email);"
    execute_query(query)
    print("Index idx_users_email created successfully.")

def basic_security():
    query = """
    SELECT UserID, Name
    FROM Users
    WHERE Email = 'alice@example.com' AND Password = 'password123';
    """
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def managing_access():
    pass;



def understanding_views():
    execute_query("DROP VIEW IF EXISTS UserProjectCounts;")
    query = """
    CREATE VIEW UserProjectCounts AS
    SELECT Users.UserID, Users.Name, COUNT(Projects.ProjectID) AS ProjectCount
    FROM Users
    LEFT JOIN Projects ON Users.UserID = Projects.UserID
    GROUP BY Users.UserID, Users.Name
    """
    execute_query(query)
    print("View UserProjectCounts created successfully.")
    query = "SELECT * FROM UserProjectCounts WHERE ProjectCount > 1;"
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def acid_transactions():
    conn = get_db_connection()
    if conn:
        cursor = conn.cursor()
        try:
            cursor.execute("START TRANSACTION;")
            cursor.execute("""
            INSERT INTO Users (Name, Email, Password, Bio, ProfilePic)
            VALUES ('Jane Doe', 'jane.doe.unique2@example.com', 'anotherpassword', 'Bio for Jane Doe', 'jane.jpg');
            """)
            cursor.execute("""
            INSERT INTO Projects (UserID, Title, Description, Category, Tags)
            VALUES ((SELECT UserID FROM Users WHERE Email = 'jane.doe.unique2@example.com'), 'Janes Project', 'Description of Janes Project', 'Science', 'Research, Innovation');
            """)
            conn.commit()
            print("Transaction committed successfully.")
        except Exception as e:
            conn.rollback()
            print("Transaction rolled back due to error:", e)
        finally:
            cursor.close()
            conn.close()
    else:
        print("Failed to establish a database connection.")

if __name__ == "__main__":
    print("Grouping & Aggregation")
    grouping_and_aggregation()
    print("\nSQL DML & FKs")
    sql_dml_and_fks()
    print("\nSub-queries")
    sub_queries()
    print("\nUsing Indexes")
    using_indexes()
    print("\nBasic Security")
    basic_security()
    print("\nManaging Access")
    managing_access()
    print("\nUnderstanding Views")
    understanding_views()
    print("\nACID Transactions")
    acid_transactions()

Grouping & Aggregation
Executing SQL:
    SELECT UserID, COUNT(ProjectID) AS ProjectCount
    FROM Projects
    GROUP BY UserID;

(1, 1)
(2, 1)
(3, 1)
(4, 1)
(5, 1)
(6, 1)
(7, 1)
(8, 1)
(9, 1)
(10, 1)
(11, 1)
(12, 1)
(13, 1)
(14, 1)
(15, 1)
(16, 1)
(17, 1)
(18, 1)
(19, 1)
(20, 1)

SQL DML & FKs
Executing SQL:
    INSERT INTO Users (Name, Email, Password, Bio, ProfilePic)
    VALUES ('John Doe', 'john.doe.unique2@example.com', 'securepassword', 'Tech enthusiast', 'john.jpg');

User John Doe inserted successfully.

Sub-queries
Executing SQL:
    SELECT Name, Email
    FROM Users
    WHERE UserID IN (
        SELECT UserID
        FROM Projects
        GROUP BY UserID
        HAVING COUNT(ProjectID) > 1
    );


Using Indexes
Executing SQL: CREATE INDEX idx_users_email ON Users (Email);
Index idx_users_email created successfully.

Basic Security
Executing SQL:
    SELECT UserID, Name
    FROM Users
    WHERE Email = 'alice@example.com' AND Password = 'password123';

(1, 'Alice Johnson')

Managing Access

Understanding Views
Executing SQL: DROP VIEW IF EXISTS UserProjectCounts;
Executing SQL:
    CREATE VIEW UserProjectCounts AS
    SELECT Users.UserID, Users.Name, COUNT(Projects.ProjectID) AS ProjectCount
    FROM Users
    LEFT JOIN Projects ON Users.UserID = Projects.UserID
    GROUP BY Users.UserID, Users.Name

View UserProjectCounts created successfully.
Executing SQL: SELECT * FROM UserProjectCounts WHERE ProjectCount > 1;

ACID Transactions
Transaction committed successfully.

In [26]:
import mysql.connector
from mysql.connector import errorcode

def get_db_connection(user="root", password="root"):
    try:
        conn = mysql.connector.connect(
            host="localhost",
            user=user,
            password=password,
            database="educonnect_demo"
        )
        return conn
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Something is wrong with your user name or password")
        elif err.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exist")
        else:
            print(err)
        return None

def execute_query(query, params=(), fetch=False, user="root", password="root"):
    conn = get_db_connection(user=user, password=password)
    if conn:
        try:
            cursor = conn.cursor()
            cursor.execute(query, params)
            if fetch:
                results = cursor.fetchall()
            else:
                results = None
            conn.commit()
            cursor.close()
            conn.close()
            return results
        except mysql.connector.Error as err:
            print(err)
            return None
    else:
        print("Failed to establish a database connection.")
        return None

def show_privileges(user):
    query = f"SHOW GRANTS FOR '{user}'@'localhost';"
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def display_users():
    query = "SELECT User, Host FROM mysql.user;"
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def display_custom_users():
    query = "SELECT UserID, Name, Email FROM Users;"
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def grant_privileges():
    queries = [
        "CREATE ROLE IF NOT EXISTS 'read_only';",
        "CREATE ROLE IF NOT EXISTS 'read_write';",
        "GRANT SELECT ON educonnect_demo.* TO 'read_only';",
        "GRANT SELECT, INSERT, UPDATE, DELETE ON educonnect_demo.* TO 'read_write';",
        "CREATE USER IF NOT EXISTS 'readonly_user'@'localhost' IDENTIFIED BY 'readonly_password';",
        "CREATE USER IF NOT EXISTS 'readwrite_user'@'localhost' IDENTIFIED BY 'readwrite_password';",
        "GRANT 'read_only' TO 'readonly_user'@'localhost';",
        "GRANT 'read_write' TO 'readwrite_user'@'localhost';",
    ]
    for query in queries:
        execute_query(query)
    print("Roles created and privileges granted successfully.")

def revoke_privileges():
    queries = [
        "REVOKE 'read_only' FROM 'readonly_user'@'localhost';",
        "REVOKE 'read_write' FROM 'readwrite_user'@'localhost';",
        "DROP USER IF EXISTS 'readonly_user'@'localhost';",
        "DROP USER IF EXISTS 'readwrite_user'@'localhost';",
    ]
    for query in queries:
        execute_query(query)
    print("Privileges revoked and users dropped successfully.")

def create_views():
    queries = [
        "DROP VIEW IF EXISTS ReadOnlyProjects;",
        "DROP VIEW IF EXISTS ReadWriteProjects;",
        "CREATE VIEW ReadOnlyProjects AS SELECT ProjectID, UserID, Title, Category, Tags, DateCreated, LastUpdated FROM Projects;",
        "CREATE VIEW ReadWriteProjects AS SELECT * FROM Projects;",
    ]
    for query in queries:
        execute_query(query)
    print("Views created successfully.")

def query_views():
    query = "SELECT * FROM ReadOnlyProjects;"
    results = execute_query(query, fetch=True)
    if results:
        for row in results:
            print(row)

def insert_into_view():
    query = """
    INSERT INTO ReadWriteProjects (UserID, Title, Description, Category, Tags)
    VALUES (21, 'New Project', 'This is a description of the new project.', 'Software Development', 'New, Project');
    """
    execute_query(query)
    print("Data inserted into view successfully.")

def delete_from_view():
    # First delete related comments to avoid foreign key constraint issues
    execute_query("DELETE FROM Comments WHERE ProjectID = 1;")
    query = """
    DELETE FROM ReadWriteProjects
    WHERE ProjectID = 1;
    """
    execute_query(query)
    print("Data deleted from view successfully.")

if __name__ == "__main__":
    print("Initial State: Showing Privileges for root")
    show_privileges('root')

    print("\nInitial State: Displaying Users")
    display_users()
    display_custom_users()

    print("\nCreating Roles and Granting Privileges")
    grant_privileges()

    print("\nAfter Granting Privileges: Showing Privileges for root")
    show_privileges('root')

    print("\nAfter Granting Privileges: Displaying Users")
    display_users()
    display_custom_users()

    print("\nRevoking Privileges")
    revoke_privileges()

    print("\nAfter Revoking Privileges: Showing Privileges for root")
    show_privileges('root')

    print("\nAfter Revoking Privileges: Displaying Users")
    display_users()
    display_custom_users()

    print("\nCreating Views")
    create_views()

    print("\nInitial State: Querying Views")
    query_views()

    print("\nInserting into View")
    insert_into_view()

    print("\nAfter Inserting into View: Querying Views")
    query_views()

    print("\nDeleting from View")
    delete_from_view()

    print("\nAfter Deleting from View: Querying Views")
    query_views()

Initial State: Showing Privileges for root
('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ABORT_EXEMPT,AUDIT_ADMIN,AUTHENTICATION_POLICY_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,FIREWALL_EXEMPT,FLUSH_OPTIMIZER_COSTS,FLUSH_STATUS,FLUSH_TABLES,FLUSH_USER_RESOURCES,GROUP_REPLICATION_ADMIN,GROUP_REPLICATION_STREAM,INNODB_REDO_LOG_ARCHIVE,INNODB_REDO_LOG_ENABLE,PASSWORDLESS_USER_ADMIN,PERSIST_RO_VARIABLES_ADMIN,REPLICATION_APPLIER,REPLICATION_SLAVE_ADMIN,RESOURCE_GROUP_ADMIN,RESOURCE_GROUP_USER,ROLE_ADMIN,SENSITIVE_VARIABLES_OBSERVER,SERVICE_CONNECTION_ADMIN,SESSION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,TELEMETRY_LOG_ADMIN,XA_RECOVER_ADMIN ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT PROXY ON ``@`` TO `root`@`localhost` WITH GRANT OPTION',)

Initial State: Displaying Users
('read_only', '%')
('read_write', '%')
('admin_user', 'localhost')
('debian-sys-maint', 'localhost')
('mysql.infoschema', 'localhost')
('mysql.session', 'localhost')
('mysql.sys', 'localhost')
('readonly_user', 'localhost')
('readwrite_user', 'localhost')
('root', 'localhost')
(1, 'Alice Johnson', 'alice@example.com')
(2, 'Bob Smith', 'bob@example.com')
(3, 'Charlie Davis', 'charlie@example.com')
(4, 'David Brown', 'david@example.com')
(5, 'Eva Green', 'eva@example.com')
(6, 'Frank White', 'frank@example.com')
(7, 'Grace Lee', 'grace@example.com')
(8, 'Hannah Miller', 'hannah@example.com')
(9, 'Ian Harris', 'ian@example.com')
(10, 'Jack Wilson', 'jack@example.com')
(11, 'Kathy Martinez', 'kathy@example.com')
(12, 'Leo Adams', 'leo@example.com')
(13, 'Mia Scott', 'mia@example.com')
(14, 'Nathan Clark', 'nathan@example.com')
(15, 'Olivia Robinson', 'olivia@example.com')
(16, 'Peter Lewis', 'peter@example.com')
(17, 'Quinn Walker', 'quinn@example.com')
(18, 'Rachel Young', 'rachel@example.com')
(19, 'Sam King', 'sam@example.com')
(20, 'Tina Baker', 'tina@example.com')
(21, 'John Doe', 'john.doe.unique2@example.com')
(22, 'Jane Doe', 'jane.doe.unique2@example.com')

Creating Roles and Granting Privileges
Roles created and privileges granted successfully.

After Granting Privileges: Showing Privileges for root
('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ABORT_EXEMPT,AUDIT_ADMIN,AUTHENTICATION_POLICY_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,FIREWALL_EXEMPT,FLUSH_OPTIMIZER_COSTS,FLUSH_STATUS,FLUSH_TABLES,FLUSH_USER_RESOURCES,GROUP_REPLICATION_ADMIN,GROUP_REPLICATION_STREAM,INNODB_REDO_LOG_ARCHIVE,INNODB_REDO_LOG_ENABLE,PASSWORDLESS_USER_ADMIN,PERSIST_RO_VARIABLES_ADMIN,REPLICATION_APPLIER,REPLICATION_SLAVE_ADMIN,RESOURCE_GROUP_ADMIN,RESOURCE_GROUP_USER,ROLE_ADMIN,SENSITIVE_VARIABLES_OBSERVER,SERVICE_CONNECTION_ADMIN,SESSION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,TELEMETRY_LOG_ADMIN,XA_RECOVER_ADMIN ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT PROXY ON ``@`` TO `root`@`localhost` WITH GRANT OPTION',)

After Granting Privileges: Displaying Users
('read_only', '%')
('read_write', '%')
('admin_user', 'localhost')
('debian-sys-maint', 'localhost')
('mysql.infoschema', 'localhost')
('mysql.session', 'localhost')
('mysql.sys', 'localhost')
('readonly_user', 'localhost')
('readwrite_user', 'localhost')
('root', 'localhost')
(1, 'Alice Johnson', 'alice@example.com')
(2, 'Bob Smith', 'bob@example.com')
(3, 'Charlie Davis', 'charlie@example.com')
(4, 'David Brown', 'david@example.com')
(5, 'Eva Green', 'eva@example.com')
(6, 'Frank White', 'frank@example.com')
(7, 'Grace Lee', 'grace@example.com')
(8, 'Hannah Miller', 'hannah@example.com')
(9, 'Ian Harris', 'ian@example.com')
(10, 'Jack Wilson', 'jack@example.com')
(11, 'Kathy Martinez', 'kathy@example.com')
(12, 'Leo Adams', 'leo@example.com')
(13, 'Mia Scott', 'mia@example.com')
(14, 'Nathan Clark', 'nathan@example.com')
(15, 'Olivia Robinson', 'olivia@example.com')
(16, 'Peter Lewis', 'peter@example.com')
(17, 'Quinn Walker', 'quinn@example.com')
(18, 'Rachel Young', 'rachel@example.com')
(19, 'Sam King', 'sam@example.com')
(20, 'Tina Baker', 'tina@example.com')
(21, 'John Doe', 'john.doe.unique2@example.com')
(22, 'Jane Doe', 'jane.doe.unique2@example.com')

Revoking Privileges
Privileges revoked and users dropped successfully.

After Revoking Privileges: Showing Privileges for root
('GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT APPLICATION_PASSWORD_ADMIN,AUDIT_ABORT_EXEMPT,AUDIT_ADMIN,AUTHENTICATION_POLICY_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,ENCRYPTION_KEY_ADMIN,FIREWALL_EXEMPT,FLUSH_OPTIMIZER_COSTS,FLUSH_STATUS,FLUSH_TABLES,FLUSH_USER_RESOURCES,GROUP_REPLICATION_ADMIN,GROUP_REPLICATION_STREAM,INNODB_REDO_LOG_ARCHIVE,INNODB_REDO_LOG_ENABLE,PASSWORDLESS_USER_ADMIN,PERSIST_RO_VARIABLES_ADMIN,REPLICATION_APPLIER,REPLICATION_SLAVE_ADMIN,RESOURCE_GROUP_ADMIN,RESOURCE_GROUP_USER,ROLE_ADMIN,SENSITIVE_VARIABLES_OBSERVER,SERVICE_CONNECTION_ADMIN,SESSION_VARIABLES_ADMIN,SET_USER_ID,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,TELEMETRY_LOG_ADMIN,XA_RECOVER_ADMIN ON *.* TO `root`@`localhost` WITH GRANT OPTION',)
('GRANT PROXY ON ``@`` TO `root`@`localhost` WITH GRANT OPTION',)

After Revoking Privileges: Displaying Users
('read_only', '%')
('read_write', '%')
('admin_user', 'localhost')
('debian-sys-maint', 'localhost')
('mysql.infoschema', 'localhost')
('mysql.session', 'localhost')
('mysql.sys', 'localhost')
('root', 'localhost')
(1, 'Alice Johnson', 'alice@example.com')
(2, 'Bob Smith', 'bob@example.com')
(3, 'Charlie Davis', 'charlie@example.com')
(4, 'David Brown', 'david@example.com')
(5, 'Eva Green', 'eva@example.com')
(6, 'Frank White', 'frank@example.com')
(7, 'Grace Lee', 'grace@example.com')
(8, 'Hannah Miller', 'hannah@example.com')
(9, 'Ian Harris', 'ian@example.com')
(10, 'Jack Wilson', 'jack@example.com')
(11, 'Kathy Martinez', 'kathy@example.com')
(12, 'Leo Adams', 'leo@example.com')
(13, 'Mia Scott', 'mia@example.com')
(14, 'Nathan Clark', 'nathan@example.com')
(15, 'Olivia Robinson', 'olivia@example.com')
(16, 'Peter Lewis', 'peter@example.com')
(17, 'Quinn Walker', 'quinn@example.com')
(18, 'Rachel Young', 'rachel@example.com')
(19, 'Sam King', 'sam@example.com')
(20, 'Tina Baker', 'tina@example.com')
(21, 'John Doe', 'john.doe.unique2@example.com')
(22, 'Jane Doe', 'jane.doe.unique2@example.com')

Creating Views
Views created successfully.

Initial State: Querying Views
(2, 2, 'Sustainable Architecture', 'Architecture', 'Sustainability, Architecture, Eco-friendly', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(3, 3, 'Machine Learning Model', 'Data Science', 'Machine Learning, Python, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(4, 4, 'Deep Learning for Image Recognition', 'Artificial Intelligence', 'Deep Learning, Image Recognition, AI', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(5, 5, 'Solar Energy Harvesting', 'Renewable Energy', 'Solar Energy, Renewable, Sustainability', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(6, 6, 'Blockchain-Based Voting System', 'Blockchain', 'Blockchain, Voting, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(7, 7, 'AI in Healthcare', 'Healthcare', 'AI, Healthcare, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(8, 8, 'Cybersecurity Threat Detection', 'Cybersecurity', 'Cybersecurity, Threat Detection, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(9, 9, 'Smart Home IoT System', 'Internet of Things', 'IoT, Smart Home, Automation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(10, 10, 'Autonomous Robotics', 'Robotics', 'Autonomous, Robotics, Engineering', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(11, 11, 'Quantum Computing Algorithms', 'Quantum Computing', 'Quantum Computing, Algorithms, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(12, 12, 'AR for Education', 'Augmented Reality', 'AR, Education, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(13, 13, 'VR Training Simulations', 'Virtual Reality', 'VR, Training, Simulation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(14, 14, 'Cloud-Based Data Storage', 'Cloud Computing', 'Cloud, Data Storage, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(15, 15, 'Big Data Analytics', 'Data Science', 'Big Data, Analytics, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(16, 16, 'Web Application Development', 'Software Development', 'Web Development, Full-Stack, Application', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(17, 17, 'Data Visualization Tools', 'Data Science', 'Data Visualization, Tools, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(18, 18, 'AI Research on Natural Language Processing', 'Artificial Intelligence', 'AI, NLP, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(19, 19, 'DevOps Automation', 'DevOps', 'DevOps, Automation, CI/CD', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(20, 20, 'Mobile App Development', 'Mobile Development', 'Mobile, App, Fitness', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(21, 22, 'Janes Project', 'Science', 'Research, Innovation', datetime.datetime(2024, 7, 29, 5, 54, 53), datetime.datetime(2024, 7, 29, 5, 54, 53))
(22, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 7, 54), datetime.datetime(2024, 7, 29, 6, 7, 54))
(23, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 9, 54), datetime.datetime(2024, 7, 29, 6, 9, 54))
(24, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 12, 8), datetime.datetime(2024, 7, 29, 6, 12, 8))
(25, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 13, 29), datetime.datetime(2024, 7, 29, 6, 13, 29))
(26, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 17, 35), datetime.datetime(2024, 7, 29, 6, 17, 35))

Inserting into View
Data inserted into view successfully.

After Inserting into View: Querying Views
(2, 2, 'Sustainable Architecture', 'Architecture', 'Sustainability, Architecture, Eco-friendly', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(3, 3, 'Machine Learning Model', 'Data Science', 'Machine Learning, Python, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(4, 4, 'Deep Learning for Image Recognition', 'Artificial Intelligence', 'Deep Learning, Image Recognition, AI', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(5, 5, 'Solar Energy Harvesting', 'Renewable Energy', 'Solar Energy, Renewable, Sustainability', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(6, 6, 'Blockchain-Based Voting System', 'Blockchain', 'Blockchain, Voting, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(7, 7, 'AI in Healthcare', 'Healthcare', 'AI, Healthcare, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(8, 8, 'Cybersecurity Threat Detection', 'Cybersecurity', 'Cybersecurity, Threat Detection, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(9, 9, 'Smart Home IoT System', 'Internet of Things', 'IoT, Smart Home, Automation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(10, 10, 'Autonomous Robotics', 'Robotics', 'Autonomous, Robotics, Engineering', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(11, 11, 'Quantum Computing Algorithms', 'Quantum Computing', 'Quantum Computing, Algorithms, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(12, 12, 'AR for Education', 'Augmented Reality', 'AR, Education, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(13, 13, 'VR Training Simulations', 'Virtual Reality', 'VR, Training, Simulation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(14, 14, 'Cloud-Based Data Storage', 'Cloud Computing', 'Cloud, Data Storage, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(15, 15, 'Big Data Analytics', 'Data Science', 'Big Data, Analytics, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(16, 16, 'Web Application Development', 'Software Development', 'Web Development, Full-Stack, Application', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(17, 17, 'Data Visualization Tools', 'Data Science', 'Data Visualization, Tools, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(18, 18, 'AI Research on Natural Language Processing', 'Artificial Intelligence', 'AI, NLP, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(19, 19, 'DevOps Automation', 'DevOps', 'DevOps, Automation, CI/CD', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(20, 20, 'Mobile App Development', 'Mobile Development', 'Mobile, App, Fitness', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(21, 22, 'Janes Project', 'Science', 'Research, Innovation', datetime.datetime(2024, 7, 29, 5, 54, 53), datetime.datetime(2024, 7, 29, 5, 54, 53))
(22, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 7, 54), datetime.datetime(2024, 7, 29, 6, 7, 54))
(23, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 9, 54), datetime.datetime(2024, 7, 29, 6, 9, 54))
(24, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 12, 8), datetime.datetime(2024, 7, 29, 6, 12, 8))
(25, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 13, 29), datetime.datetime(2024, 7, 29, 6, 13, 29))
(26, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 17, 35), datetime.datetime(2024, 7, 29, 6, 17, 35))
(27, 21, 'New Project', 'Software Development', 'New, Project', datetime.datetime(2024, 7, 29, 6, 31, 22), datetime.datetime(2024, 7, 29, 6, 31, 22))

Deleting from View
Data deleted from view successfully.

After Deleting from View: Querying Views
(2, 2, 'Sustainable Architecture', 'Architecture', 'Sustainability, Architecture, Eco-friendly', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(3, 3, 'Machine Learning Model', 'Data Science', 'Machine Learning, Python, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(4, 4, 'Deep Learning for Image Recognition', 'Artificial Intelligence', 'Deep Learning, Image Recognition, AI', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(5, 5, 'Solar Energy Harvesting', 'Renewable Energy', 'Solar Energy, Renewable, Sustainability', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(6, 6, 'Blockchain-Based Voting System', 'Blockchain', 'Blockchain, Voting, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(7, 7, 'AI in Healthcare', 'Healthcare', 'AI, Healthcare, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(8, 8, 'Cybersecurity Threat Detection', 'Cybersecurity', 'Cybersecurity, Threat Detection, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(9, 9, 'Smart Home IoT System', 'Internet of Things', 'IoT, Smart Home, Automation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(10, 10, 'Autonomous Robotics', 'Robotics', 'Autonomous, Robotics, Engineering', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(11, 11, 'Quantum Computing Algorithms', 'Quantum Computing', 'Quantum Computing, Algorithms, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(12, 12, 'AR for Education', 'Augmented Reality', 'AR, Education, Technology', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(13, 13, 'VR Training Simulations', 'Virtual Reality', 'VR, Training, Simulation', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(14, 14, 'Cloud-Based Data Storage', 'Cloud Computing', 'Cloud, Data Storage, Security', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(15, 15, 'Big Data Analytics', 'Data Science', 'Big Data, Analytics, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(16, 16, 'Web Application Development', 'Software Development', 'Web Development, Full-Stack, Application', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(17, 17, 'Data Visualization Tools', 'Data Science', 'Data Visualization, Tools, Data Science', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(18, 18, 'AI Research on Natural Language Processing', 'Artificial Intelligence', 'AI, NLP, Research', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(19, 19, 'DevOps Automation', 'DevOps', 'DevOps, Automation, CI/CD', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))
(20, 20, 'Mobile App Development', 'Mobile Development', 'Mobile, App, Fitness', datetime.datetime(2024, 7, 29, 5, 54, 49), datetime.datetime(2024, 7, 29, 5, 54, 49))